
body {
    background-image:url("skybg.jpg");
    background-repeat:no-repeat;
}
table {
    background: linear-gradient(90deg, skyblue, deepskyblue);
    width: 80%;
    height: 80%;
    margin-left: 230px;
    margin-right: 230px;
    border-color: blue;
}

h2
{
    font-family: arial;
}

.input
{
    text-align: center;
}

.catbreeds
{
    font-family: cursive;
    font-size: 50px;
}

.description
{
    font-family: cursive;
}